@import 'https://fonts.googleapis.com/css?family=Bad+Script';
@import 'https://fonts.googleapis.com/css?family=PT+Sans';


.shortform{
    width: 30px
}
.forgetp{
    color:#eb0a2c !important;
}
/*.index{

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    background: url(../images/feature-bg.jpg) no-repeat ;
    background-size: cover;  /* For IE8 and earlier 
}
*/

.jumbo{
margin-top: -20px;
background-color: #12a1ab;

}
.jt{
    font-size: 100px;
    font-family: 'PT Sans', sans-serif;
}

.links{
    font-size: 20px;
      
}
.linkss{
    font-size: 25px;
}

.links:hover{
    background-color: none;
}
.footer{
    background-color: #12a1ab;
}

#displaying{
    font-size: 50px;
    font-family: 'PT Sans', sans-serif;
}
#signin{
    margin-right: 10px;
}
a{
   font-family: 'PT Sans', sans-serif;
   color: white; 
}
a:hover{
    text-decoration: none;
}
.free.green { background-color: #00cc00; }

.rd-btn{
    background-color:red;
}
.login{
	margin-top:5%;
}

.custom{
	background-color:#eb0a2c;
	color:white;

	font-size:20px;	
}

.register{
    background-color:#12a1ab;
    color:white;
    
    font-size:20px;
    
}
#regis{
    margin-top: 20px;
}

.gender{
margin-right: 2050px;
}


.gender-group{
    margin-left: 10px;
}
.custom1{
	color:#eb0a2c;
    font-size: 20px;
    width: 20px;
    height: 10px;	
}

#writing{
	font-size: 20px;
	color: #eb0a2c;
	font-family: 'PT Sans', sans-serif;
}
/* the mail render */
#top-section{
    background-color: #12a1ab;
    height: 200px;
    padding: 50px 100px 0px 100px;
}

#below-section{
    background-color: white;
    height: 200px;
}
#email-heading{
    color: gray;
    padding-top: 10px;
}
.email{
    background-color: red;
    border-radius: 10px;
}





.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}