
<!DOCTYPE html>
 <html lang = 'en'>

 <head>
 	<meta charset="utf-8">
 	<title>Event</title>
 	<meta name = "description" content = 'bootstrap'>
 	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/font-awesome.css">
	<link rel="stylesheet" href="../static/css/main.css">

 </head>

 <body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand links" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav navbar-left">
		    <li><a class="links" href="{{url_for('home',username=current_user.username)}}">Market Place</a></li>
		    <li><a class="links" href="{{url_for('pulse')}}">Pulse</a></li>
		    <li><a class="links" href="{{url_for('event')}}">Event</a></li>
    	</ul>


      <ul class="nav navbar-nav navbar-right">
        <li><a class="links" href="#">Notification <span class="badge">50</span></a></li>
        <li><a class="links" href="#">Message <span class="badge">50</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{url_for('logout')}}"><i class"glyphicon glyphicon-off"></i> Logout</a></li>
          </ul>
          
        </li>

        
        <li>
          <button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">post</button>
        </li>
        
      </ul>

      <div class="text-center">
		  <form class="navbar-form navbar-center">
		    <div class="form-group">
		      <input type="text" class="form-control" placeholder="Search">
		    </div>
		    <button type="submit" class="btn btn-default">Submit</button>
		  </form>
  
  		</div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  {% for messages in get_flashed_messages() %}
        <div class="alert alert-info container">{{ messages }}</div>
    {% endfor %}


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="list-group">
      <li class="list-group-item">
          <div class="media">
          <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-1/p160x160/13508842_10208063141991134_1128396899011991733_n.jpg?_nc_eui2=v1%3AAeEdnCFZ8rDKdIfnMvm9J-4BBO6bY67dR6v8NVUTY7C8i0McEI4S-d9fUAqFXNfs4xy4LR65u7-rOMfAQV0tgOWldC7smvu1Whv4v_WMlrpZVA&oh=fb17d1405deea92231a538880f86bae4&oe=586DF9E6" alt="...">
              </a>  
            </div>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
           </div>
      </li>

    </ul>
  </div>  
</div>
<!-- end of list of items -->

<!--modal -->



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">

        <form action="/home" method = 'POST'>
          {{ form.hidden_tag() }}

          <div class="form-group">
            <label for="recipient-name" class="control-label">{{form.eventtitle.label}}:</label>
            {{form.eventtitle(class="form-control", id="recipient-name")}}
          </div>

          <div class="form-group">

                  <div class="row">
                    <div class="form-inline">
                        <div class="col-md-6">
                          <label for="recipient-name" class="control-label">{{form.eventdat.label}}:</label><br>
                          {{form.eventdat(class="form-control")}}
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-md-6">
                          <label for="recipient-name" class="control-label">{{form.eventtime.label}}:</label>
                          {{form.eventtime(class="form-control")}}
                        </div>
                    </div>
                  </div>
                    
          </div>

          <div class="form-group ">
            <p class="btn free">Free?</p>
           </div>

          <div class="form-group price">
            <label for="recipient-name" class="control-label">{{form.price.label}}:
            </label>
            {{form.price(class="form-control", id="recipient-name")}}
          </div>



          <div class="form-group">
            <label for="recipient-name" class="control-label">{{form.eventvenue.label}}:</label>
            {{form.eventvenue(class="form-control", id="recipient-name")}}
          </div>


          <div class="form-group">
            <label for="recipient-name" class="control-label">{{form.eventtype.label}}:</label>
            {{form.eventtype(class="form-control", id="recipient-name")}}
          </div>



           <button class="btn btn-primary">Post</button>
        </form>
      </div>

       
      </div>
    </div>
  </div>
</div>




<!-- end modal-->



<script   src="https://code.jquery.com/jquery-2.2.4.min.js"integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<script type="text/javascript" src="../static/js/main.js"></script>
 </body>

 </html>



