
<!DOCTYPE html>
 <html lang = 'en'>

 <head>
 	<meta charset="utf-8">
 	<title>Event</title>
 	<meta name = "description" content = 'bootstrap'>
 	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css">
  <link href="../static/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../static/css/main.css">

 </head>

 <body>
<nav class="navbar nav-market">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav-market" href="#" style="font-family:'Shrikhand', cursive;">iprenuer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav navbar-left">
		    <li><a href="{{url_for('home',username=current_user.username)}}" class="nav-market"><i class="fa fa-shopping-basket"></i> Market Place</a></li>
        <li><a  href="{{url_for('pulse',username=current_user.username)}}" class="nav-market"><i class="fa fa-heartbeat"></i> Pulse</a></li>
        <li><a href="{{url_for('event',username=current_user.username)}}" class="nav-market"><i class="fa fa-gift"></i> Event</a></li>
    	</ul>


      <ul class="nav navbar-nav navbar-right">
        
        <li><a  href="#" class="nav-market"><i class="fa fa-bell"></i> Notification <span class="badge">50</span></a></li>
        
        <li><a  href="#" class="nav-market"><i class="fa fa-envelope"></i> Message <span class="badge">50</span></a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-market" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{url_for('logout')}}"><i class"glyphicon glyphicon-off"></i> Logout</a></li>
          </ul>
          
        </li>

        
        <li>
          <button type="button" class="btn navbar-btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="background-color:#eb0a2c;color:white"><i class="fa fa-send"></i> Share Event</button>
        </li>
        
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  {% for messages in get_flashed_messages() %}
        <div class="alert alert-info container">{{ messages }}</div>
    {% endfor %}

<div id="tabs" class="container">
  <ul>
    <li><a href="#tabs-1">ALL</a></li>
    <li><a href="#tabs-2">TGIF</a></li>
    <li><a href="#tabs-3">RELIGIOUS</a></li>
    <li><a href="#tabs-4">ACADEMIC</a></li>
    
  </ul>

  <div id="tabs-1">
    <div class="row">
              {% for each in event %}
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="uploaded-image" src="{{each.image_url()}}" alt="...">
              <hr style="margin-bottom:-10px">
              <div class="caption">
                <h3>{{ each.eventtitle }}</h3>
                <p>{{each.description}}</p>
                {% if each.price %}<br>
                  <span class="fa fa-money"></span>{{each.price}}
                {%else%}
                <i class="label label-info">free</i><br>
                {% endif %}
                <div style="display:inline">
                    
                      <span class="fa fa-calendar-check-o"></span><i class=""> {{each.date}}</i>
                  
                    
                      <span class="fa fa-hourglass-start" style="margin-left:30px"></span><i class="text-left"> {{each.time}}</i>
                    
                </div>

                <div style="margin-top:10px;margin-bottom:10px"><span class="fa fa-map-marker"></span> {{each.eventvenue}}<br></div>
                <a href="#" class="btn btn-block" role="button" style="background-color:#0277bd;color:white ">ATTEND</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>


  </div><!--ALL -->
  <div id="tabs-2"></div><!--TGIF -->
  <div id="tabs-3"></div><!--RELIGIOUS-->
  <div id="tabs-4"></div><!--ACADEMIC -->
  



</div>
<!-- end of list of items -->

<!--modal -->



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">

        <form action="{{url_for('event',username=current_user.username)}}" method = 'POST' enctype="multipart/form-data">
          {{ form.hidden_tag() }}


          <div class="form-group text-center">
            
            {{form.eventimage(id="file-3")}}
        
          </div>

          <div class="form-group">
            <label for="recipient-name" class="control-label">{{form.eventtitle.label}}:</label>
            {{form.eventtitle(class="form-control", id="recipient-name")}}
          </div>


          <div class="form-group">
            <label for="recipient-name" class="control-label">{{form.description.label}}:</label>
            {{form.description(class="form-control", id="recipient-name")}}
          </div>
          
          <div class="form-group">

                  <div class="row">
                    <div class="form-inline">
                        <div class="col-md-6 col-xs-12">
                          <label for="recipient-name" class="control-label">{{form.eventdat.label}}:</label><br>
                          {{form.eventdat(class="form-control")}}
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-md-6 col-xs-12">
                          <label for="recipient-name" class="control-label">{{form.eventtime.label}}:</label>
                          {{form.eventtime(class="form-control",placeholder="YYYY-MM-DD H:M:S")}}
                        </div>
                    </div>
                  </div>
                    
          </div>
          <div class="form-group ">
            <p class="btn free" style="background-color:#eb0a2c;color:white">Free?</p>
           </div>
          

          <div class="form-group price">
            <label for="recipient-name" class="control-label">{{form.price.label}}:
            </label>
            {{form.price(class="form-control", id="recipient-name")}}
          </div>



          <div class="form-group">
            <label for="recipient-name" class="control-label">{{form.eventvenue.label}}:</label>
            {{form.eventvenue(class="form-control", id="recipient-name")}}
          </div>

          
          <div class="form-group">
            <label for="recipient-name" class="control-label">{{form.eventtype.label}}:</label>
            {{form.eventtype(class="form-control", id="recipient-name")}}
          </div>
          


           <button class="btn" style="background-color:#eb0a2c;color:white">Share Event</button>
        </form>
      </div>

       
      </div>
    </div>
  </div>
</div>




<!-- end modal-->



<script   src="https://code.jquery.com/jquery-2.2.4.min.js"integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="../static/js/jquery-ui.js"></script>
<script type="text/javascript" src="../static/js/fileinput.js"></script>

<script type="text/javascript" src="../static/js/main.js"></script>

<script type="text/javascript">
$("#file-3").fileinput({
    showUpload: false,
    showCaption: false,
    browseClass: "btn btn-warning btn-lg",
    fileType: "any",
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
  });

$("#tabs").tabs();

</script>
 </body>

 </html>



